header {
  position: relative;
  background-color: #1C1C1C;
  min-height: 25rem;
  width: 100%;
}
@media screen and (max-width: 992px) {
  header {
    height: auto;
  }
}
header video {
  position: absolute;
  top: 15%;
  left: 50%;
  min-width: 100%;
  height: 100vh;
  width: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-width: 992px) {
  header video {
    top: 26%;
  }
}
@media screen and (min-width: 1500px) {
  header video {
    top: 20%;
    width: 1500px;
    min-width: 1500px;
    padding: 0 10%;
  }
}
header #escalaVideoMobile {
  display: none;
}
@media screen and (max-width: 425px) {
  header #escalaVideoMobile {
    display: block;
  }
}
header #escalaVideo {
  display: none;
}
@media screen and (min-width: 426px) {
  header #escalaVideo {
    display: block;
  }
}
header .container-fluid {
  position: relative;
  z-index: 2;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(35deg, rgba(255, 255, 255, 0) 63%, #d22d52);
  background-color: #1C1C1C;
  opacity: 0.5;
  z-index: 1;
}
@media screen and (min-width: 1500px) {
  header .overlay {
    width: 100%;
    min-width: 100%;
    padding: 0 10%;
  }
}
header .navbar {
  padding-left: 0;
}
header .navbar-brand {
  padding-left: 0;
}
header .navbar .navbar-toggler {
  margin-top: -1rem;
}
header .main-title {
  margin-top: 9rem;
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  header .main-title {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 768px) {
  header .main-title {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 450px) and (max-width: 600px) {
  header .main-title {
    text-align: left;
    margin-top: 4rem;
    width: 90% !important;
    margin: 0 auto;
  }
}
header .content-header-text .content-play-btn-video {
  display: inline-block;
  margin: 0 2rem;
  margin-bottom: -1rem;
  margin-right: 0.8rem;
  border-radius: 50%;
  padding: 0.9rem;
  border: 2px solid #FF3060;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  header .content-header-text .content-play-btn-video {
    display: block;
    width: 3.6rem;
    padding: 1.2rem;
    margin: 2rem auto 1rem;
    border: 2px solid #FFFFFF;
  }
}
header .content-header-text .content-play-btn-video .play-button {
  background: url("../images/play-icon.svg") center no-repeat;
  height: 0.9rem;
  width: 0.9rem;
}
header .content-header-text .content-play-btn-video .play-button-mobile {
  background: url("../images/play-icon-white.svg") center no-repeat;
}

.main-information {
  border-top: 1px solid #9B9B9B;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .main-information {
    width: 100%;
    border: 0;
    border-left: 1px solid #9B9B9B;
    padding: 3rem 0;
  }
}
.main-information .info {
  display: inline-block;
  font-size: 1.1rem;
  padding-top: 1rem;
}
@media screen and (max-width: 767px) {
  .main-information .info {
    padding-top: 0;
    padding-left: 2rem !important;
    padding-right: 0 !important;
    padding-bottom: 2rem;
  }
}
.main-information .info:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 20px;
  top: -0.7rem;
  left: -0.4rem;
  background-image: radial-gradient(circle at center, #FF3060 5px, transparent 5px);
  background-size: 20px 20px;
  background-position: top center, bottom center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .main-information .info:before {
    left: -0.65rem;
    top: 0rem;
  }
}

.scroll {
  height: 43px;
  width: 28px;
  padding-top: 25px;
  background: url("../images/scroll-mouse.svg") center no-repeat;
  background-size: contain;
}
@media sreen and (max-width: 600px) {
  .scroll {
    margin-top: -150px;
  }
}
.scroll-dot {
  height: 0.4rem;
  width: 0.4rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  background-size: contain;
  animation: animation-form-content-scroll 3s 2s infinite;
}

@keyframes animation-form-content-scroll {
  0%, 10%, 35%, 60%, 100% {
    transform: translate3d(0, 0, 0);
  }
  5%, 15% {
    transform: translate3d(0, 5px, 0);
  }
}
.container-text {
  align-self: center;
}

@media screen and (max-width: 600px) {
  .container-phone {
    height: 14rem;
  }
}
.container-phone .phone {
  background-size: contain !important;
  height: 28rem;
  width: 42rem;
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  .container-phone .phone {
    display: block;
    margin: 2rem auto 0;
    width: 26rem;
    height: 16rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1400px) {
  .container-phone .phone {
    display: block;
    margin: 2rem auto 0;
    width: 40rem;
    height: 17rem;
  }
}
@media screen and (max-width: 600px) {
  .container-phone .phone {
    background-size: cover !important;
    height: 12rem;
    width: 21rem;
  }
}
@media screen and (max-width: 424px) {
  .container-phone .phone {
    margin-left: -3rem;
  }
}
.container-phone .phone-first {
  background: url("../images/phone-shadow.svg") no-repeat;
}
.container-phone .phone-second {
  background: url("../images/contact-phone.svg") no-repeat;
}

.escalab-logo {
  background: url("../images/escalab-logo.svg") no-repeat;
  height: 3rem;
  width: 100%;
  background-size: contain;
}

.content-header-plans {
  background: linear-gradient(to top, rgba(245, 246, 252, 0.52) 0.1%, #1c1c1c), url("../images/people-working.jpg") center no-repeat;
  background-size: cover;
  height: 32rem;
  margin-top: 5rem;
}

.content-plans {
  background-color: #FFFFFF;
  margin-top: -10rem;
  height: auto;
}
.content-plans-review {
  height: 90px;
  width: 20rem;
}
@media screen and (max-width: 600px) {
  .content-plans-review {
    width: 80%;
    margin: 0 auto;
  }
}
.content-plans-review-person {
  display: inline-block;
  width: 25%;
}
@media screen and (max-width: 600px) {
  .content-plans-review-person {
    height: 4rem;
    width: 4rem;
  }
}
.content-plans-review-person img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.content-plans-review-enterprise {
  display: inline-block;
  width: 25%;
  margin-left: -2rem;
}
@media screen and (max-width: 600px) {
  .content-plans-review-enterprise {
    height: 4rem;
    width: 4rem;
  }
}
.content-plans-review-enterprise img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.content-plans-review-info {
  display: inline-block;
  width: 50%;
  font-size: 0.7rem;
  color: #FFFFFF;
}
@media screen and (max-width: 600px) {
  .content-plans-review-info {
    left: 8.5rem;
  }
}
.content-plans-review-info span {
  display: block;
  color: #FF3060;
}
.content-plans-subcontainer {
  width: 80%;
}

.testimonials {
  display: block;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2.79px;
  line-height: 16px;
}

.clients-section {
  background-color: #1C1C1C;
}
@media screen and (max-width: 768px) {
  .clients-section {
    border-radius: 1.7rem;
    margin-top: -1.5rem;
  }
}

.title-container {
  margin-bottom: 1rem;
}

.laescala-section {
  overflow-x: hidden;
  margin-top: 2rem;
}
.laescala-section-text {
  align-self: center;
}
@media screen and (min-width: 1400px) {
  .laescala-section-text {
    padding-left: 8rem !important;
  }
}
.laescala-section .container-float-elements {
  position: relative;
  height: 50rem;
  padding-top: 2rem;
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .laescala-section .container-float-elements {
    margin-right: -9rem;
  }
}
@media screen and (max-width: 992px) {
  .laescala-section .container-float-elements {
    height: 40rem;
  }
}
.laescala-section .container-float-elements .img {
  position: absolute;
  width: 12rem;
  height: 12rem;
  background-size: contain !important;
  display: block;
  float: right;
}
@media screen and (max-width: 992px) {
  .laescala-section .container-float-elements .img {
    width: 10rem;
    height: 10rem;
  }
}
.laescala-section .container-float-elements .img-1 {
  background: url("../images/img-escala-4.svg") no-repeat;
  right: -4rem;
}
@media screen and (max-width: 992px) {
  .laescala-section .container-float-elements .img-1 {
    background: url("../images/img-escala-1.svg") no-repeat;
    right: 65%;
  }
}
.laescala-section .container-float-elements .img-2 {
  background: url("../images/img-escala-2.svg") no-repeat;
  right: 18rem;
  top: 11rem;
}
@media screen and (max-width: 992px) {
  .laescala-section .container-float-elements .img-2 {
    background: url("../images/img-escala-4.svg") no-repeat;
    top: 5rem;
    right: 1%;
  }
}
.laescala-section .container-float-elements .img-3 {
  background: url("../images/img-escala-2.svg") no-repeat;
  right: 6rem;
  top: 5rem;
}
@media screen and (max-width: 992px) {
  .laescala-section .container-float-elements .img-3 {
    right: 44%;
    top: 13rem;
  }
}
.laescala-section .container-float-elements .img-4 {
  background: url("../images/img-escala-1.svg") no-repeat;
  right: 32rem;
  top: 16rem;
}
@media screen and (max-width: 992px) {
  .laescala-section .container-float-elements .img-4 {
    right: -5%;
  }
}
.laescala-section .container-float-elements .img-5 {
  background: url("../images/img-escala-4.svg") no-repeat;
  right: 20rem;
  top: 25rem;
}
@media screen and (max-width: 992px) {
  .laescala-section .container-float-elements .img-5 {
    right: 50%;
  }
}
.laescala-section .container-float-elements .img-6 {
  background: url("../images/img-escala-4.svg") no-repeat;
  right: 8rem;
  top: 30rem;
}
.laescala-section .container-float-elements .img-7 {
  background: url("../images/img-escala-4.svg") no-repeat;
  top: 34rem;
  right: -4rem;
}

.card {
  display: inline-block;
  width: 18rem;
  border-radius: 0.85rem !important;
  border: 0 !important;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .card {
    width: 20rem;
  }
}
.card img {
  width: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
}
.card-plan-emprende {
  border-top: 5px solid #FF3060 !important;
  display: block !important;
  margin: -5rem auto 0;
}
@media screen and (max-width: 768px) {
  .card-plan-emprende {
    margin-top: -5rem;
  }
}
.card-plan-emprende-img {
  background: url("../images/plan-emprende.svg") no-repeat;
  background-size: contain;
  height: 8rem;
  width: 7rem;
  margin: -3rem auto 0;
}
.card-plan-startup {
  border-top: 5px solid #00B2B2 !important;
  display: block !important;
  margin: -5rem auto 0;
}
@media screen and (max-width: 768px) {
  .card-plan-startup {
    margin-top: 5rem;
  }
}
.card-plan-startup-img {
  background: url("../images/plan-startup.svg") no-repeat;
  background-size: contain;
  height: 8rem;
  width: 7rem;
  margin: -3rem auto 0;
}
.card-plan-escala {
  border-top: 5px solid #FFC063 !important;
  display: block !important;
  margin: -5rem auto 0;
}
@media screen and (max-width: 768px) {
  .card-plan-escala {
    margin-top: 5rem;
  }
}
.card-plan-escala-img {
  background: url("../images/plan-escala.svg") no-repeat;
  background-size: contain;
  height: 8rem;
  width: 7rem;
  margin: -3rem auto 0;
}
.card .plan-txt {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 3px;
}
.card-elements {
  margin-bottom: 1rem;
}
.card-elements .content-element {
  position: relative;
  float: left;
  padding: 6px;
  margin-top: -2.2rem;
}
.card-elements .content-element-img {
  border-radius: 50%;
  height: 3rem;
  width: 2.4rem;
  background-color: #FFFFFF;
}
.card-elements .content-element-offer {
  border-radius: 1rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  width: 5.5rem;
  font-size: 0.8rem;
  background-color: #FF3060;
  color: #FFFFFF;
  margin-left: 0.3rem;
}
.card-elements .course-logo {
  position: absolute;
  left: 20%;
  right: 50%;
  width: 60%;
}
.card-text {
  color: #1C1C1C;
  margin: 0;
}
.card-title {
  color: #FF3060;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}
.card-subtitle {
  color: #1C1C1C;
  font-size: 12px;
}
.card-list {
  padding-left: 1.2rem;
}
.card-open-plan {
  text-align: center;
  font-weight: 500;
  border-top: 1px solid #EDEDED;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.9;
}

.digital-transformation {
  background-color: #FFFFFF;
  padding-bottom: 8rem;
}
.digital-transformation-title {
  margin-bottom: 7rem;
}
.digital-transformation .cards-section {
  margin-top: -3rem;
}

.action-section {
  background-color: #ff3161;
  border-radius: 1.2rem 1.2rem 0 0;
  margin-top: -1rem;
  padding-top: 3rem;
}
.action-section-rocket {
  background: url("../../images/img-escala-4.svg") no-repeat;
  margin-top: -9rem !important;
  margin-left: 2rem;
  background-size: contain;
  width: 12rem;
  height: 12rem;
  box-shadow: 0 2px 95px 0 rgba(0, 0, 0, 0.02);
}
@media screen and (min-width: 993px) {
  .action-section-rocket {
    margin-left: 70%;
    float: right;
  }
}
.action-section-options {
  color: #FFFFFF;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.action-section-options p {
  margin: 0;
}
.action-section-options-meeting {
  background-color: #f32e5c;
}
@media screen and (max-width: 600px) {
  .action-section-options-meeting {
    border-radius: 1.2rem 1.2rem 0 0;
  }
}
.action-section-options-call {
  background-color: #e82e59;
}
.action-section-options-mail {
  background-color: #dd2c55;
}
.action-section-options-phone-number {
  background-color: #d22c52;
}

.aux-line-divider {
  height: 1rem;
  width: 100%;
  background: linear-gradient(to right, #f32e5c, #d22c52);
}
@media screen and (max-width: 768px) {
  .aux-line-divider {
    background: #d22c52;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .aux-line-divider {
    background: linear-gradient(to right, #dd2c55, #d22c52);
  }
}

footer {
  background-color: #1C1C1C;
  border-radius: 1.2rem 1.2rem 0 0;
  margin-top: -1rem;
}
footer .title {
  margin-bottom: 1.55rem;
}
footer ul li {
  font-size: 1rem;
}
footer .subscription-text {
  color: #FFFFFF;
}
footer .subscription-secondary-text {
  color: #9B9B9B;
}
footer .subscription-input {
  background: #1C1C1C;
  padding: 1rem;
  border: 2px solid #4A4A4A;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  margin-left: 2px;
}
footer .subscription-input::placeholder {
  color: #FFFFFF;
}
footer .subscription-input::before {
  border: 2px solid #4A4A4A;
  width: 0.5rem;
}
footer .input-group-text {
  background: #1C1C1C;
  border: 2px solid #4A4A4A;
  border-left: 2px solid transparent;
  border-radius: 0 5px 5px 0 !important;
  cursor: pointer;
}
footer .arrow-icon {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../../images/arrow-right.svg") no-repeat;
  background-size: contain;
}
footer .info-escala {
  background-color: black;
  width: 100%;
  padding: 1rem 3.5rem;
  font-size: 0.9rem;
  margin-top: 2.2rem;
}
@media screen and (max-width: 768px) {
  footer .info-escala {
    padding: 1rem;
  }
}
footer .info-escala .year {
  color: #9B9B9B !important;
}
footer .info-escala .item {
  display: inline-block;
  margin: 0;
  margin-left: 0.5rem;
  color: #4A4A4A;
}

#body {
  background-color: #1C1C1C;
}
#body .laescala-logo {
  background: url("../images/laescala-logo.svg") no-repeat;
  background-size: contain;
  width: 100%;
  height: 2rem;
}
#body .title {
  font-weight: 300;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
}
#body .limiter {
  max-width: 1500px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  #body .limiter {
    position: relative;
  }
}
#body .content {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 993px) {
  #body .content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
#body .content-header {
  position: relative;
  background: linear-gradient(to top, #1c1c1c 40%, rgba(245, 246, 252, 0));
}
#body .line {
  display: block;
  border: 0;
  margin: 1em 0;
  padding: 0;
}
#body .line-pink {
  width: 13%;
  height: 1px;
  border-top: 1px solid #FF3060;
}
#body .line-gray {
  width: min-content;
  height: 5rem;
  margin: 3rem auto;
  border-left: 1px solid #9B9B9B;
}
#body .line-horizontal-gray {
  width: 100%;
  height: 1px;
  margin: 3rem auto;
  border-top: 1px solid #9B9B9B;
}
#body h1,
#body h2 {
  font-weight: 300;
  font-size: 3rem;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 600px) {
  #body h1,
#body h2 {
    font-size: 2rem;
  }
}
#body ul {
  padding: 0;
}
#body ul li {
  list-style: none;
  color: #9B9B9B;
  margin: 1rem auto;
  font-size: 0.9rem;
}
#body h4,
#body .paragraph {
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
}
#body .subtitle,
#body .paragraph {
  font-weight: 300;
  color: #9B9B9B;
}
#body .subtitle {
  display: block;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2.79px;
  line-height: 16px;
}
#body .subtitle-services {
  width: 60%;
  display: block;
  margin: 1rem auto;
}
@media screen and (max-width: 768px) {
  #body .subtitle-services {
    color: #FFFFFF;
    width: auto;
  }
}
#body .btn {
  padding: 1rem;
  letter-spacing: 1px;
  color: #FFFFFF;
  width: auto;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
}
#body .btn-pink {
  background-color: #FF3060;
  padding: 0.8rem 2rem;
  width: 100%;
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  #body .btn-pink {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  #body .btn-pink {
    padding: 0.8rem 0 !important;
  }
}
@media screen and (max-width: 768px) {
  #body .btn-pink {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 450px) and (max-width: 600px) {
  #body .btn-pink {
    width: 90% !important;
    margin: 0 auto;
  }
}
#body .btn-pink-width-auto {
  width: auto;
}
#body .btn-secondary {
  background-color: #1C1C1C;
  padding: 1rem 4rem;
}
@media screen and (max-width: 600px) {
  #body .btn {
    width: 100%;
  }
}
#body .modal-close {
  padding: 0;
  background-color: #1C1C1C;
  border: 0;
  float: right;
}
#body .modal-close span {
  color: #FFFFFF;
}
#body .modal-header {
  border: 0;
}
#body .modal-body {
  padding: 0 auto;
}
#body .modal-dialog {
  max-width: 100%;
  margin: 0;
}
#body .modal-content {
  background-color: #1C1C1C;
  height: 100%;
}
#body .modal-body iframe {
  width: 100%;
  height: 98%;
}
@media screen and (max-width: 768px) {
  #body .modal-body iframe {
    height: 92%;
  }
}
#body .carousel-item {
  min-width: 100%;
  border-radius: 0;
}
#body .carousel-image {
  margin: 0 auto;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
