.action-section {
  background-color: rgb(255, 49, 97);
  border-radius: 1.2rem 1.2rem 0 0;
  margin-top: -1rem;
  padding-top: 3rem;
  &-rocket {
    background: url("../../images/img-escala-4.svg") no-repeat;
    margin-top: -9rem !important;
    margin-left: 2rem;
    background-size: contain;
    width: 12rem;
    height: 12rem;
    box-shadow: 0 2px 95px 0 rgba(0,0,0,0.02);
    @media screen and (min-width:993px) {
        margin-left: 70%;
        float: right;
    }
  }
  &-options {
    color: $light;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    p {
        margin: 0;
    }
    &-meeting {
      background-color: #f32e5c;
      @media screen and (max-width:600px) {
          border-radius: 1.2rem 1.2rem 0 0;
      }
    }
    &-call {
      background-color: #e82e59;
    }
    &-mail {
      background-color: #dd2c55;
    }
    &-phone-number {
      background-color: #d22c52;
    }
  }
}
.aux-line-divider {
    height: 1rem;
    width: 100%;
    background: linear-gradient(to right, #f32e5c, #d22c52);
    @media screen and (max-width:768px) {
    background:  #d22c52;
    }
    @media screen and (min-width:769px) and (max-width:992px) {
        background: linear-gradient(to right, #dd2c55, #d22c52);
    }
}
