.container-text {
  align-self: center;
}

.container-phone {
    @media screen and (max-width: 600px) {
      height: 14rem;
    }
    .phone {
      background-size: contain !important;
      height: 28rem;
      width: 42rem;
      @media screen and (min-width: 601px) and (max-width: 992px) {
        display: block;
        margin: 2rem auto 0;
        width: 26rem;
        height: 16rem;
      }
      @media screen and (min-width: 993px) and (max-width: 1400px) {
        display: block;
        margin: 2rem auto 0;
        width: 40rem;
        height: 17rem;
      }
      @media screen and (max-width: 600px) {
        background-size: cover !important;
        height: 12rem;
        width: 21rem;
      }
      @media screen and (max-width: 424px) {
        margin-left: -3rem;
      }
      &-first {
        background: url("../images/phone-shadow.svg") no-repeat;
      }
      &-second {
        background: url("../images/contact-phone.svg") no-repeat;
      }
    }
  }