.card {
  display: inline-block;
  width: 18rem;
  border-radius: 0.85rem !important;
  border: 0 !important;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,0.1);
  @media screen and (min-width: 425px) and (max-width: 768px) {
    width: 20rem;
  }
  img {
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  &-plan-emprende {
    border-top: 5px solid $pink !important;
    display: block !important;
    margin: -5rem auto 0;
    @media screen and (max-width: 768px) {
      margin-top: -5rem;
    }
    &-img {
      background: url("../images/plan-emprende.svg") no-repeat;
      background-size: contain;
      height: 8rem;
      width: 7rem;
      margin: -3rem auto 0;
    }
  }
  &-plan-startup {
    border-top: 5px solid $aqua !important;
    display: block !important;
    margin: -5rem auto 0;
    @media screen and (max-width: 768px) {
      margin-top: 5rem;
    }
    &-img {
      background: url("../images/plan-startup.svg") no-repeat;
      background-size: contain;
      height: 8rem;
      width: 7rem;
      margin: -3rem auto 0;
    }
  }
  &-plan-escala {
    border-top: 5px solid $yellow-light !important;
    display: block !important;
    margin: -5rem auto 0;
    @media screen and (max-width: 768px) {
      margin-top: 5rem;
    }
    &-img {
      background: url("../images/plan-escala.svg") no-repeat;
      background-size: contain;
      height: 8rem;
      width: 7rem;
      margin: -3rem auto 0;
    }
  }
  .plan-txt {
    font-size: 0.8rem;
    font-weight: $font-normal;
    letter-spacing: 3px;
  }
  &-elements {
    margin-bottom: 1rem;
    .content-element {
      position: relative;
      float: left;
      padding: 6px;
      margin-top: -2.2rem;
      &-img {
        border-radius: 50%;
        height: 3rem;
        width: 2.4rem;
        background-color: $light;
      }
      &-offer {
        border-radius: 1rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        width: 5.5rem;
        font-size: 0.8rem;
        background-color: $pink;
        color: $light;
        margin-left: 0.3rem;
      }
    }
    .course-logo {
      position: absolute;
      left: 20%;
      right: 50%;
      width: 60%;
    }
  }
  &-text {
    color: $dark;
    margin: 0;
  }
  &-title {
    color: $pink;
    margin: 0;
    font-size: 1.1rem;
    font-weight: $font-bold;
  }
  &-subtitle {
    color: $dark;
    font-size: 12px;
  }
  &-list {
    padding-left: 1.2rem;
  }
  &-open-plan {
    text-align: center;
    font-weight: $font-bold;
    border-top: 1px solid #EDEDED;
    padding: 1rem;
  }
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.9;
}
