.testimonials {
  display: block;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2.79px;
  line-height: 16px;
}

.clients-section {
  background-color: $dark;
  @media screen and (max-width: 768px) {
    border-radius: 1.7rem;
    margin-top: -1.5rem;
  }
}
.title-container {
  margin-bottom: 1rem;
}
