@import "./card";

.digital-transformation {
    background-color: $light;
    padding-bottom: 8rem;
    &-title {
      margin-bottom: 7rem;
    }
    .cards-section {
      margin-top: -3rem;
    }
  }