.escalab-logo {
    background: url("../images/escalab-logo.svg") no-repeat;
    height: 3rem;
    width: 100%;
    background-size: contain;
  }
  .content-header-plans {
    background: linear-gradient(to top, rgba(245, 246, 252, 0.52) 0.1%, #1c1c1c),
      url("../images/people-working.jpg") center no-repeat;
    background-size: cover;
    height: 32rem;
    margin-top: 5rem;
  }