footer {
  background-color: $dark;
  border-radius: 1.2rem 1.2rem 0 0;
  margin-top: -1rem;
  .title {
    margin-bottom: 1.55rem;
  }
  ul {
    li {
      font-size: 1rem;
    }
  }
  .subscription {
    &-text {
      color: $light;
    }
    &-secondary-text {
      color: $gray-light;
    }
    &-input {
      background: $dark;
      padding: 1rem;
      border: 2px solid #4A4A4A;
      box-sizing: border-box;
      border-radius: 5px 0 0 5px;
      margin-left: 2px;
    }
    &-input::placeholder {
      color: $light;
    }
    &-input::before {
      border: 2px solid #4A4A4A;
      width: 0.5rem;
    }
  }
  .input-group-text {
    background: $dark;
    border: 2px solid #4A4A4A;
    border-left: 2px solid transparent;
    border-radius: 0 5px 5px 0 !important;
    cursor: pointer;
  }
  .arrow-icon {
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../images/arrow-right.svg') no-repeat;
    background-size: contain;
  }
  .dropdown-list {
    // position: absolute;
    // right: 50px;
    // top: 14px;
  }
  .info-escala {
    background-color: black;
    width: 100%;
    padding: 1rem 3.5rem;
    font-size: 0.9rem;
    margin-top: 2.2rem;
    @media screen and (max-width:768px) {
      padding: 1rem;
    }
    .year {
      color: $gray-light !important;
    }
    .item {
      display: inline-block;
      margin: 0;
      margin-left: 0.5rem;
      color: #4A4A4A;
    }
  }
}
