@import "../variables";

header {
    position: relative;
    background-color: $dark;
    min-height: 25rem;
    width: 100%;
    @media screen and (max-width: 992px) {
      height: auto;
    }
    video {
      position: absolute;
      top: 15%;
      left: 50%;
      min-width: 100%;
      height: 100vh;
      width: 100%;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      @media screen and (max-width: 992px) {
        top: 26%;
      }
      @media screen and (min-width: 1500px) {
        top: 20%;
        width: 1500px;
        min-width: 1500px;
        padding: 0 10%;
      }
    }
    #escalaVideoMobile {
      display: none;
      @media screen and (max-width:425px) {
        display: block; 
      }
    }
    #escalaVideo {
      display: none;
      @media screen and (min-width:426px) {
        display: block;
      }
    }
    .container-fluid {
      position: relative;
      z-index: 2;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        35deg,
        rgba(255, 255, 255, 0) 63%,
        rgb(210, 45, 82)
      );
      background-color: $dark;
      opacity: 0.5;
      z-index: 1;
      @media screen and (min-width: 1500px) {
        width: 100%;
        min-width: 100%;
        padding: 0 10%;
      }
    }
    .navbar {
      padding-left: 0;
      &-brand {
        padding-left: 0;
      }
      .navbar-toggler {
        margin-top: -1rem;
      }
    }
    .main-title {
      margin-top: 9rem;
      @media screen and (min-width: 769px) and (max-width: 1200px) {
        margin-top: 7rem;
      }
      @media screen and (max-width: 768px) {
        margin-top: 4rem;
      }
      @media screen and (min-width: 450px) and (max-width: 600px) {
        text-align: left;
        margin-top: 4rem;
        width: 90% !important;
        margin: 0 auto;
      }
    }
    .content-header-text {
      // @media screen and (min-width:2000px) {
      //   margin-top: 15rem;
      // }
      .content-play-btn-video {
        display: inline-block;
        margin: 0 2rem;
        margin-bottom: -1rem;
        margin-right: 0.8rem;
        border-radius: 50%;
        padding: 0.9rem;
        border: 2px solid $pink;
        cursor: pointer;
        @media screen and (max-width: 992px) {
          display: block;
          width: 3.6rem;
          padding: 1.2rem;
          margin: 2rem auto 1rem;
          border: 2px solid $light;
        }
        .play-button {
          background: url("../images/play-icon.svg") center no-repeat;
          height: 0.9rem;
          width: 0.9rem;
          &-mobile {
            background: url("../images/play-icon-white.svg") center no-repeat;
          }
        }
      } 
    }
  }

  .main-information {
    border-top: 1px solid $gray-light;
    margin: 0 auto;
    width: 100%;
    @media screen and (max-width: 767px) {
      width: 100%;
      border: 0;
      border-left: 1px solid $gray-light;
      padding: 3rem 0;
    }
    .info {
      display: inline-block;
      font-size: 1.1rem;
      padding-top: 1rem;
      @media screen and (max-width: 767px) {
        padding-top: 0;
        padding-left: 2rem !important;
        padding-right: 0 !important;
        padding-bottom: 2rem;
      }
    }
    .info:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 20px;
      top: -0.7rem;
      left: -0.4rem;
      background-image: radial-gradient(
        circle at center,
        $pink 5px,
        transparent 5px
      );
      background-size: 20px 20px;
      background-position: top center, bottom center;
      background-repeat: no-repeat;
      @media screen and (max-width: 767px) {
        left: -0.65rem;
        top: 0rem;
      }
    }
  }

  .scroll {
    height: 43px;
    width: 28px;
    padding-top: 25px;
    background: url("../images/scroll-mouse.svg") center no-repeat;
    background-size: contain;
    @media sreen and(max-width:600px) {
      margin-top: -150px;
    }
    &-dot {
      height: 0.4rem;
      width: 0.4rem;
      background-color: $light;
      border-radius: 50%;
      transform: translate3d(0, 0, 0);
      background-size: contain;
      animation: animation-form-content-scroll 3s 2s infinite;
    }
  }

  @keyframes animation-form-content-scroll {
    0%,
    10%,
    35%,
    60%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    5%,
    15% {
      transform: translate3d(0, 5px, 0);
    }
  }