.laescala-section {
  overflow-x: hidden;
  margin-top: 2rem;
  &-text {
    @media screen and (min-width:1400px) {
      padding-left: 8rem !important;
    }
    align-self: center;
  }
  .container-float-elements {
    position: relative;
    height: 50rem;
    padding-top: 2rem;
    @media screen and (min-width:993px) and (max-width:1200px) {
      margin-right: -9rem;
    }
    @media screen and (max-width:992px) {
      height: 40rem;
    }
    .img {
      position: absolute;
      width: 12rem;
      height: 12rem;
      background-size: contain !important;
      display: block;
      float: right;
      @media screen and (max-width: 992px) {
        width: 10rem;
        height: 10rem;
      }
      &-1 {
        background: url("../images/img-escala-4.svg") no-repeat;
        right: -4rem;
        @media screen and (max-width: 992px) {
          background: url("../images/img-escala-1.svg") no-repeat;
          right: 65%;
        }
      }
      &-2 {
        background: url("../images/img-escala-2.svg") no-repeat;
        right: 18rem;
        top: 11rem;
        @media screen and (max-width: 992px) {
          background: url("../images/img-escala-4.svg") no-repeat;
          top: 5rem;          
          right: 1%;
        }
      }
      &-3 {
        background: url("../images/img-escala-2.svg") no-repeat;
        right: 6rem;
        top: 5rem;
        @media screen and (max-width: 992px) {
          right: 44%;
          top: 13rem;
        }
      }
      &-4 {
        background: url("../images/img-escala-1.svg") no-repeat;
        right: 32rem;
        top: 16rem;
        @media screen and (max-width: 992px) {
          right: -5%;
        }
      }
      &-5 {
        background: url("../images/img-escala-4.svg") no-repeat;
        right: 20rem;
        top: 25rem;
        @media screen and (max-width: 992px) {
          right: 50%;
        }
      }
      &-6 {
        background: url("../images/img-escala-4.svg") no-repeat;
        right: 8rem;
        top: 30rem;
      }
      &-7 {
        background: url("../images/img-escala-4.svg") no-repeat;
        top: 34rem;
        right: -4rem;
      }
    }
  }
}
