.content-plans {
    background-color: $light;
    margin-top: -10rem;
    height: auto;
    &-review {
      height: 90px;
      width: 20rem;
      @media screen and (max-width:600px) {
        width: 80%;
        margin: 0 auto;
      }
      &-person {
        display: inline-block;
        width: 25%;
        @media screen and (max-width:600px) {
          height: 4rem;
          width: 4rem;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      &-enterprise {
        display: inline-block;
        width: 25%;
        margin-left: -2rem;
        @media screen and (max-width:600px) {
          height: 4rem;
          width: 4rem;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      &-info {
        display: inline-block;
        width: 50%;
        font-size: 0.7rem;
        color: $light;
        @media screen and (max-width:600px) {
          left: 8.5rem;
        }
        span {
          display: block;
          color: $pink;
        }
      }
    }
    &-subcontainer {
      width: 80%;
    }
  }