@import "./variables";
@import "./components/header";
@import "./components/business";
@import "./components/escalab";
@import "./components/services";
@import "./components/clients";
@import "./components/know-us";
@import "./components/digital-transformation";
@import "./components/action-section";
@import "./components/footer";

#body {
  background-color: $dark;
  .laescala-logo {
    background: url("../images/laescala-logo.svg") no-repeat;
    background-size: contain;
    width: 100%;
    height: 2rem;
  }
  .title {
    font-weight: $font-normal;
    color: $light;
    -webkit-font-smoothing: antialiased;
  }
  .limiter {
    max-width: 1500px;
    margin: 0 auto;
    @media screen and (max-width:1440px) {
      position: relative;
    }
  }
  .content {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    @media screen and (min-width: 993px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    &-header {
      position: relative;
      background: linear-gradient(to top, #1c1c1c 40%, rgba(245, 246, 252, 0));
    }
  }

  .line {
    display: block;
    border: 0;
    margin: 1em 0;
    padding: 0;
    &-pink {
      width: 13%;
      height: 1px;
      border-top: 1px solid $pink;
    }
    &-gray {
      width: min-content;
      height: 5rem;
      margin: 3rem auto;
      border-left: 1px solid $gray-light;
    }
    &-horizontal-gray {
      width: 100%;
      height: 1px;
      margin: 3rem auto;
      border-top: 1px solid $gray-light;
    }
  }

  h1,
  h2 {
    font-weight: $font-normal;
    font-size: 3rem;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: 600px) {
      font-size: 2rem;
    }
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      color: $gray-light;
      margin: 1rem auto;
      font-size: 0.9rem;
    }
  }
  h4,
  .paragraph {
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
  }
  .subtitle,
  .paragraph {
    font-weight: $font-normal;
    color: $gray-light;
  }
  .subtitle {
    display: block;
    text-align: center;
    font-size: 13px;
    letter-spacing: 2.79px;
    line-height: 16px;
  }
  .subtitle-services {
    width: 60%;
    display: block;
    margin: 1rem auto;
    @media screen and (max-width:768px) {
      color: $light;
      width: auto;
    }
  }
  .btn {
    padding: 1rem;
    letter-spacing: 1px;
    color: $light;
    width: auto;
    font-size: 13px;
    font-weight: $font-bold;
    border-radius: 5px;
    &-pink {
      background-color: $pink;
      padding: 0.8rem 2rem;
      width: 100%;
      @media screen and (min-width: 425px) and (max-width: 768px) {
        width: auto;
      }
      @media screen and (max-width: 600px) {
        padding: 0.8rem 0 !important;
      }
      @media screen and (max-width: 768px) {
        display: block;
        margin: 0 auto;
      }
      @media screen and (min-width: 450px) and (max-width: 600px) {
        width: 90% !important;
        margin: 0 auto;
      }
      &-width-auto {
        width: auto;
      }
    }
    &-secondary {
      background-color: $dark;
      padding: 1rem 4rem;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .modal {
    &-close {
      padding: 0;
      background-color: $dark;
      border: 0;
      float: right;
      span {
        color: $light;
      }
    }
    &-header {
      border: 0;
    }
    &-body {
      padding: 0 auto;
    }
    &-dialog {
      max-width: 100%;
      margin: 0;
    }
    &-content {
      background-color: $dark;
      height: 100%;
    }
    &-body {
      iframe {
        width: 100%;
        height: 98%;
        @media screen and (max-width: 768px) {
          height: 92%;
        }
      }
    }
  }
  .carousel {
    &-item {
      min-width: 100%;
      border-radius: 0;
    }
    &-image {
      margin: 0 auto;
      width: 100%;
    }
  }
}
